<!DOCTYPE html>
<html>

<body ng-app="todolist" ng-controller="mainCtrl">

<h3><u>Todays tasks</u></h3>
<div ng-repeat="todo in todos">
    <li>{{todo.name}}<br/>
    <input type="button" ng-click="Remove($index)" value="Remove" />
    </li>
</div>

<h3><u>Add new tasks</u></h3>

<input type="text" ng-model="name"><br/>
<input type="button" ng-click="Add()" value="Add"/>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="main.js" type="text/javascript"></script>
</body>



</html>